<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>8novels</title>
<meta property="og:title" content="8novels" />
<meta name="description" content="GitHubでWeb小説を公開しています。" />
<meta property="og:description" content="GitHubでWeb小説を公開しています。" />
<link rel="canonical" href="https://8novels.github.io/" />
<meta property="og:url" content="https://8novels.github.io/" />
<meta property="og:site_name" content="8novels.github.io" />
<meta property="og:type" content="novel" />
<meta property="og:image" content="https://8novels.github.io/site-icon.png" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@8amjp" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41627578-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-41627578-3');
</script>
</head>
<body>
<div class="jumbotron">
{{ content }}
</div>

<div class="container">

  <h4>Pick up</h4>
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card border-primary" id="redmine-fantasy">
        <div class="card-body">
          <h4 class="card-title h6">
            <a href="/redmine-fantasy">Redmineで始める異世界人心掌握術</a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">redmine-fantasy</h6>
          <p class="card-text">異世界ファンタジー/長編/完結済</p>
          <a href="https://github.com/8novels/redmine-fantasy" class="btn btn-outline-primary btn-sm" role="button"><span>View on GitHub</span></a>
          <a href="/redmine-fantasy" class="btn btn-outline-primary btn-sm" role="button"><span>読む</span></a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card border-primary" id="redmine-jogakuen">
        <div class="card-body">
          <h4 class="card-title h6">
            <a href="/redmine-jogakuen">Redmine女学園の事件簿！(仮題)</a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">redmine-jogakuen</h6>
          <p class="card-text">学園モノ/連作短編/連載中</p>
          <a href="https://github.com/8novels/redmine-jogakuen" class="btn btn-outline-primary btn-sm" role="button"><span>View on GitHub</span></a>
          <a href="/redmine-jogakuen" class="btn btn-outline-primary btn-sm" role="button"><span>読む</span></a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card border-primary" id="evangelical-mermaids">
        <div class="card-body">
          <h4 class="card-title h6">
            <a href="/evangelical-mermaids">福音のマーメイド 〜福井ロコドル活動記〜</a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">evangelical-mermaids</h6>
          <p class="card-text">コメディ/短編/連載中</p>
          <a href="https://github.com/8novels/evangelical-mermaids" class="btn btn-outline-primary btn-sm" role="button"><span>View on GitHub</span></a>
          <a href="/evangelical-mermaids" class="btn btn-outline-primary btn-sm" role="button"><span>読む</span></a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card border-primary" id="jk-meets-js">
        <div class="card-body">
          <h4 class="card-title h6">
            <a href="/jk-meets-js">恋に落ちるコード.js</a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">jk-meets-js</h6>
          <p class="card-text">技術系コメディ/短編/連載中</p>
          <a href="https://github.com/8novels/jk-meets-js" class="btn btn-outline-primary btn-sm" role="button"><span>View on GitHub</span></a>
          <a href="/jk-meets-js" class="btn btn-outline-primary btn-sm" role="button"><span>読む</span></a>
        </div>
      </div>
    </div>

  </div>

  <hr>

  <h4>掌編集</h4>

  <div class="row" data-status="primary">

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" id="contes">
        <div class="card-body">
          <h4 class="card-title h6">
            <a href="/contes">掌編集</a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">contes</h6>
          <p class="card-text">掌編/連載中</p>
          <a href="https://github.com/8novels/contes" class="btn btn-sm" role="button"><span>View on GitHub</span></a>
          <a href="/contes" class="btn btn-sm" role="button"><span>読む</span></a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" id="technical-contes">
        <div class="card-body">
          <h4 class="card-title h6">
            <a href="/technical-contes">技術系掌編集</a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">technical-contes</h6>
          <p class="card-text">掌編/連載中</p>
          <a href="https://github.com/8novels/technical-contes" class="btn btn-sm" role="button"><span>View on GitHub</span></a>
          <a href="/technical-contes" class="btn btn-sm" role="button"><span>読む</span></a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" id="fukui-contes">
        <div class="card-body">
          <h4 class="card-title h6">
            <a href="/fukui-contes">福井を舞台にした掌編集</a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">fukui-contes</h6>
          <p class="card-text">掌編/連載中</p>
          <a href="https://github.com/8novels/fukui-contes" class="btn btn-sm" role="button"><span>View on GitHub</span></a>
          <a href="/fukui-contes" class="btn btn-sm" role="button"><span>読む</span></a>
        </div>
      </div>
    </div>

  </div>

  <hr>

  <h4>完結済</h4>

  <div class="row" data-status="success">

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" id="suberanai-redmine">
        <div class="card-body">
          <h4 class="card-title h6">
            <a href="/suberanai-redmine">藤倉紅子のすべらない話(Redmineで始める異世界人心掌握術)</a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">suberanai-redmine</h6>
          <p class="card-text">掌編/完結済</p>
          <a href="https://github.com/8novels/suberanai-redmine" class="btn btn-sm" role="button"><span>View on GitHub</span></a>
          <a href="/suberanai-redmine" class="btn btn-sm" role="button"><span>読む</span></a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" id="sakura-no-sora-to-mayoineko">
        <div class="card-body">
          <h4 class="card-title h6">
            <a href="/sakura-no-sora-to-mayoineko">桜の空と迷い猫</a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">sakura-no-sora-to-mayoineko</h6>
          <p class="card-text">現代ファンタジー/短編/完結済</p>
          <a href="https://github.com/8novels/sakura-no-sora-to-mayoineko" class="btn btn-sm" role="button"><span>View on GitHub</span></a>
          <a href="/sakura-no-sora-to-mayoineko" class="btn btn-sm" role="button"><span>読む</span></a>
        </div>
      </div>
    </div>

  </div>

  <hr>

  <h4>連載中</h4>

  <div class="row" data-status="primary">

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" id="jk-meets-html5">
        <div class="card-body">
          <h4 class="card-title h6">
            <a href="/jk-meets-html5">5.1回目の恋 〜恋に落ちるコード.html〜</a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">jk-meets-html5</h6>
          <p class="card-text">技術系コメディ/短編/連載中</p>
          <a href="https://github.com/8novels/jk-meets-html5" class="btn btn-sm" role="button"><span>View on GitHub</span></a>
          <a href="/jk-meets-html5" class="btn btn-sm" role="button"><span>読む</span></a>
        </div>
      </div>
    </div>

  </div>

  <hr>

  <h4>休載中/着手前</h4>

  <div class="row" data-status="secondary">

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" id="descriptive-girl">
        <div class="card-body">
          <h4 class="card-title h6">
            <a href="/descriptive-girl">ディスクリプティブ・ガール</a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">descriptive-girl</h6>
          <p class="card-text">技術系ミステリー/短編/休載中</p>
          <a href="https://github.com/8novels/descriptive-girl" class="btn btn-sm" role="button"><span>View on GitHub</span></a>
          <a href="/descriptive-girl" class="btn btn-sm" role="button"><span>読む</span></a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" id="tsuruga-houshinroku">
        <div class="card-body">
          <h4 class="card-title h6">
            <a href="/tsuruga-houshinroku">敦賀封神録</a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">tsuruga-houshinroku</h6>
          <p class="card-text">現代ファンタジー/長編/休載中</p>
          <a href="https://github.com/8novels/tsuruga-houshinroku" class="btn btn-sm" role="button"><span>View on GitHub</span></a>
          <a href="/tsuruga-houshinroku" class="btn btn-sm" role="button"><span>読む</span></a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" id="nakara-hanjaku">
        <div class="card-body">
          <h4 class="card-title h6">
            <a href="/nakara-hanjaku">半ら半尺な僕は舌先三寸なキミに恋をしたのかもしれない</a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">nakara-hanjaku</h6>
          <p class="card-text">現代ドラマ/短編/休載中</p>
          <a href="https://github.com/8novels/nakara-hanjaku" class="btn btn-sm" role="button"><span>View on GitHub</span></a>
          <a href="/nakara-hanjaku" class="btn btn-sm" role="button"><span>読む</span></a>
        </div>
      </div>
    </div>

  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script>
$(function() {
  $('[data-status="primary"] .card').addClass('border-primary');
  $('[data-status="primary"] .card a').addClass('text-primary');
  $('[data-status="primary"] .card .btn').addClass('btn-outline-primary');
  $('[data-status="success"] .card').addClass('border-success');
  $('[data-status="success"] .card a').addClass('text-success');
  $('[data-status="success"] .card .btn').addClass('btn-outline-success');
  $('[data-status="secondary"] .card').addClass('border-secondary');
  $('[data-status="secondary"] .card a').addClass('text-secondary');
  $('[data-status="secondary"] .card .btn').addClass('btn-outline-secondary');
});
</script>
</body>
</html>
