---
layout: default
---

<div class="container">

  {{ content }}

  <div class="row">
    <div class="col-sm-12 col-md-4 mb-2">
{% for repository in site.github.public_repositories %}
      <div class="card border-primary">
        <div class="card-body">
          <h4 id="{{ repository.name }}" class="card-title h6">
            <a href="/{{ repository.html_url }}">{{ repository.name }}</a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ repository.description }}</h6>
          <p class="card-subtitle text-muted">{{ repository.updated_at }}更新</p>
        </div>
      </div>
{% endfor %}
    </div>
  </div>

</div>